[Desktop Entry]
Type=Application
Name=TrustTunnel
Exec=/opt/trusttunnel/trustunnel_pc
Icon=trusttunnel
Categories=Network;VPN;
StartupWMClass=trusttunnel_pc
